pear-ctrl[data-platform="darwin"] { margin-top: 12px; margin-left: 10px; }

@font-face {
  font-family: mona-sans;
  src: url('./assets/Mona-Sans.woff2');
}

      #titlebar {
        -webkit-app-region: drag;
        height: 40px;
        width: 100%;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 999;
        background-color: #111;
        filter: drop-shadow(2px 10px 6px #888);
      }
      *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: mona-sans;
      }
      body {
        margin: 0;
        padding: 20px;
        background-color: #f4f4f4;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .container {
        position: relative;
        width: 60%;
        background: white;
        padding: 20px;
        margin-top: 3rem;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      }
      h1 { 
        font-size: 16px;
        color: #333;
      }
      p{
        font-size: 10px;
      }
      .form-group {
        margin-bottom: 15px;
      }
      label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
      }
      input[type="text"], input[type="file"] {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
      button {
        width: 100%;
        display: block;
        padding: 10px;
        background-color: #161616;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-weight: 700;
      }
      button:hover {
        background-color: #222;
      }
      .hidden{
        display: none !important;
      }
      input:focus, button:focus{
        outline: none;
      }
      .ppt_view, .pdf_view, .image_view, .video_view, .other_view{
        width: 100%;
        background: white;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }
      iframe{
        border: 0;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
      #loading{
        margin-block: 4rem;
        font-size: 12px;
        font-weight: 700;
        text-align: center;
      }
      .toggle-btn-div{
        display: flex;
        margin-block: 1rem;
        gap: 20px;
      }
      .toggle-btn-div button{
        background-color: transparent;
        color: #333;
        border-radius: 0;
      }
      .toggle-btn-div button:hover{
        background-color: #ddd;
        border-radius: 4px;
      }
      .toggle-btn-div button:active{
        border-bottom: 1px solid #161616;
      }
      .other_link{
        padding: 5px 0;
        transition: 300ms;
      }
      .other_link:hover{
        padding: 5px 0.5rem;
      }
      a{
        color: #161616;
        padding: 0.5rem 5px;
        border-radius: 5px;
      }
      a:focus{
        outline: none;
      }
      a:hover{
        background-color: #eee;
      }
      .image_view img, .video_view video{
        max-width: 70%;
        border-radius: 5px;
        box-shadow: 0 4px 16px #000000ad;
      }
      .imgContainer, .videoContainer{
        display: flex;
        gap: 10px;
        justify-content: space-between;
      }
      .img-content, .vd-content{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: end;
        gap: 10px;
      }
      .img-contentDiv, .vd-contentDiv{
        display: flex;
        flex-direction: column;
        gap: 3px;
        margin-bottom: 10px;
      }
      nav{
        width: 100%;
        top: 3rem;
        right: 0.7rem;
        display: flex;
        justify-content:end;
        position: fixed;
      }
      .other_viewLinks{
        display: flex;
        flex-direction: column;
        gap: 6px;
      }

      /* Webkit */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f4f4f4;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background: #666;
}

#chat--container{
  position: fixed;
  top: 4rem;
  left: 1rem;
  z-index: 101;
}
#chat--container button{
  font-size: 10px !important;
  width: fit-content;
}
#chat--area{
  background-color: #f4f4f4;
  padding: 1rem;
  margin: 10px 0;
  box-shadow: 0 0 15px #0000007a;
  border-radius: 0 10px 10px 10px;
  position: relative;
}
#chat{
  width: 350px;
  height: 400px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.chat-message-left{
  min-width: 20%;
  width: fit-content;
  display: flex;
  flex-direction: column;
  padding: 10px 6px;
  background-color: #ddd;
  border-radius: 0 6px 6px 6px;
}
.chat-message-right{
  min-width: 20%;
  width: fit-content;
  display: flex;
  align-self: flex-end;
  flex-direction: column;
  padding: 10px 6px;
  background-color: #ddd;
  border-radius: 6px 0 6px 6px;
}
#sendMsgForm{
  display: flex;
}
#sendMsgForm input{
  border-radius: 6px 0 0 6px;
}
#sendMsgForm button{
  border-radius: 0 6px 6px 0;
}
#sendMsgForm button, #sendMsgForm input{
  font-size: 10px;
}
.triangle {
  width: 0;
  height: 0;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #f4f4f4;
  position: absolute;
  top: -10px;
  left: 0;
}